<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Togethering</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login">
        <h1 class="titlehead">Login</h1>
        <form action="" method="post">
            {% csrf_token %}
            
            <input class="field" type="text" name="username" id="username" placeholder="Username">
            
            
            <input class="field" type="password" name="pass" id="pass" placeholder="Password">
        
            
            <button type="submit">Login</button>
            <p>New User? <a href="{% url 'register' %}">Create an Account</a></p>
        </form>
    </div>
</body>
</html>