<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watching - Togethering</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://www.youtube.com/iframe_api"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/watchpageee.css" %}">
  </head>
  <body>
    <nav class="greycon">
      <a href="{% url 'home' %}"
        ><h1 class="goldclr">
          TOGETHER.<span class="coloringgg">ING</span>
        </h1></a
      >

      <ul id="username">
        <li>
          <a href="{% url 'home' %}" class="profont"
            >{{user.username}} <i class="fa-solid fa-chevron-down"></i
          ></a>
          <ul class="profile" id="profile">
            <li>
              <a href="{% url 'logout' %}" onclick="location.reload()"
                >Logout</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="maincontainer">
      <div class="leftside">
        <div class="video-container" id="player"></div>

        <input
          type="text"
          class="copylink"
          id="copylink"
          name=""
          id=""
          value="{{ url }}"
          readonly
        />
        <button class="copybutton" id="copybutton">COPY</button>
      </div>
      <div class="rightside">
        <h1 class="chatboxhead">CHAT BOX</h1>
        <textarea
          readonly
          name="chatarea"
          id="chatarea"
          cols="40"
          rows="17"
        ></textarea>
        <input
          type="text"
          name="chatinput"
          id="chatinput"
          placeholder="Enter your message here"
        />
        <button id="chatbtn">Send</button>
      </div>
    </div>

    <footer>
      <div class="fooflex">
        <div class="handles">
          <a href="https://www.facebook.com/john.byro.56"
            ><img src="{% static "images/facebook.png" %}" alt="F" width="35px"
            height="35px"></a
          >
          <a href="https://www.linkedin.com/in/only4aj/"
            ><img src="{% static "images/linkedin.png" %}" alt="L" width="35px"
            height="35px"></a
          >
          <a href="https://www.instagram.com/only4aj/"
            ><img src="{% static "images/instagram.png" %}" alt="I" width="35px"
            height="35px"></a
          >
          <a href="https://www.youtube.com/channel/UC23C6Vghe1eROCsvEyM-4hQ"
            ><img src="{% static "images/youtube.png" %}" alt="Y" width="35px"
            height="35px"></a
          >
        </div>

        <p class="copyright">Copyright © 2024 TOGETHERING</p>
        <p>ANSH JUNEJA</p>
      </div>
    </footer>

    {{ roomname|json_script:"roomname" }}
    <script>
          document.getElementById("copybutton").addEventListener("click", function() {
            var copyText = document.getElementById("copylink");
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices
            document.execCommand("copy");
            alert("Link Copied: " + copyText.value);
          });

          const roomname = JSON.parse(
            document.getElementById("roomname").textContent
          );
          const chatsocket = new WebSocket(
            "ws://" + location.host + "/ws/watch/" + roomname + "/"
          );
          chatsocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if (data.message) {
              document.querySelector("#chatarea").value +=
                data.user + ":" + "\n" + data.message + "\n" + "\n";
              document.querySelector("#chatarea").scrollTop =
                document.querySelector("#chatarea").scrollHeight;
            } else if (data.message_type === "video.play") {
              if (data.current_time !== undefined) {
                player.seekTo(data.current_time);
              }
              player.playVideo();
            } else if (data.message_type === "video.pause") {
              if (data.current_time !== undefined) {
                player.seekTo(data.current_time);
              }
              player.pauseVideo();
            }
          };
          document.getElementById("chatbtn").onclick = function (e) {
            const msg = document.getElementById("chatinput").value;
            chatsocket.send(JSON.stringify({ message: msg }));
            document.querySelector("#chatinput").value = "";
          };
          chatsocket.onclose = function (e) {
            console.log("chatsocket close");
          };
          document.querySelector("#chatinput").focus();
          document.querySelector("#chatinput").onkeyup = function (e) {
            if (e.keyCode === 13) {
              document.querySelector("#chatbtn").click();
            }
          };

          // YouTube Player API integration
          let player;
          function onYouTubeIframeAPIReady() {
            player = new YT.Player("player", {
              height: "390",
              width: "640",
              videoId: "{{ video_link }}".split("=")[1],
              playerVars: { autoplay: 0, controls: 1 },
              events: {
                onStateChange: onPlayerStateChange,
                onReady: onPlayerReady,
              },
            });
          }
          function onPlayerReady(event) {
            chatsocket.send(
              JSON.stringify({
                message_type: "video.sync",
                current_time: player.getCurrentTime(),
              })
            );
          }


          function onPlayerStateChange(event) {
            if (event.data === YT.PlayerState.PLAYING) {
              chatsocket.send(
                JSON.stringify({
                  message_type: "video.play",
                  current_time: player.getCurrentTime(),
                })
              );
            } else if (event.data === YT.PlayerState.PAUSED) {
              chatsocket.send(
                JSON.stringify({
                  message_type: "video.pause",
                  current_time: player.getCurrentTime(),
                })
              );
            }
          }
    </script>
  </body>
</html>
